- var title = 'gun+sea w/ riot.js'
- var description = 'sea w/ riot + gun'
doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='content-encoding' content='gzip')
  meta(name='viewport' content='initial-scale=1.0, user-scalable=no')
  title= title
  meta(name='description' content=description)
  link(rel='stylesheet' href='include/app.css')
body
  app
  script(src='include/app.js')
  script(src='include/vendor.js')
  script.
    var riot = require('riot');
    riot.settings.autoUpdate = false;

    require('riot-route/tag');
    require('templates/app');
    require('templates/util');
    require('templates/access');

    riot.mount('app');
