navigation
  nav(class='{ opts.status }')
    ul
      li(each='{ item in opts.menu }' class='{ item.class }')
        a(href='{ item.link }') { item.title }

logout
  script.
    'use strict';
    const tag = this;
    tag.on('mount', init);

    function init() {
      sessionStorage.clear();
      location.reload();
      require('scripts/link').to('login');
    }
